@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --foreground: #171717;
}

/* @theme inline {
  --color-primary:#010a5e;
} */

@theme {
  --color-primary : #010a5e;
  --color-primary-light : #010d78;
  --color-secondary : #FFCC00;
  --color-paragraph : #c0c0c0;
  --color-white : #fff;
  --color-black : #000;
  --color-green : #007936;
  --color-red : #cc3433;
  --color-dark-light : #171717;

  /* breakpoint */
  --breakpoint-sm : 480px;
  --breakpoint-md : 768px;
  --breakpoint-lg : 1024px;

  /* font family */
  --font-sans : 'DM Sans', sans-serif;
  --font-oswald : 'Oswald', sans-serif;

  /* animation */
  @keyframes move {
    50% {
      transform: translateY(10px);
    }
  }
}

@layer base {

}

@layer components {
  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16;
  }

  .home_title, .card_title, .section_title {
    @apply text-4xl font-oswald font-bold uppercase md:text-6xl;
  }

  .card_title {
    @apply text-xl;
  }

  .section_title {
    @apply text-3xl;
  }

  .separator {
    @apply w-28 h-[2px] bg-secondary my-5 ;
  }

  .paragraph {
    @apply text-paragraph text-xs leading-5; 
  }

  .btn {
    @apply inline-block text-sm py-3 px-8 capitalize text-center cursor-pointer rounded-md ease-linear duration-200 
  }

  .btn-primary {
    @apply text-black bg-secondary hover:opacity-75;
  }

    .animate-move {
    animation: move 2s linear infinite;
  }

}

.body {
  @apply text-white bg-black;
}

.section {
  @apply pt-16 pb-4 md:pt-20 text-white;
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

